

{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Redefinição de Senha</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <!--link rel="icon" type="image/png" href="images/icons/favicon.ico" -->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts/font-awesome-4.7.0/css/font-awesome.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/main.css' %}">
    <!--===============================================================================================-->
</head>

<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				{% if validlink %} 
                <form class="login100-form validate-form" action="" method="post">
					{% csrf_token %}
					<a href="/">
                        <span class="login100-form-title p-b-33">
                                Fábrica de Gênios
                            </span> 
                        </a>
                            {{ form.new_password1.errors }}
                            {{ form.new_password2.errors }}

					<div class="wrap-input100 validate-input" data-validate="Digite uma senha segura">
                        <input class="input100" type="password" name="new_password1" placeholder="Senha" required>
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>
					<div class="wrap-input100 validate-input" data-validate="Digite uma senha segura">
                        <input class="input100" type="password" name="new_password2" placeholder="Confirmar Senha"  required>
                        <span class="focus-input100-1"></span>
                        <span class="focus-input100-2"></span>
                    </div>
                    <div class="container-login100-form-btn m-t-20">
                        <button class="login100-form-btn" type="submit">
							Redefinir Senha
						</button>
                    </div>
				</form>
			{% if messages %}
                <div class="alert alert-info" role="alert">
                    {% for message in messages %} 
                        {{ message }} 
                    {% endfor %}
                </div>
            {% endif %}
  {% else %}
<form class="form-signin" method="post">
        <span class="login100-form-title p-b-33">
                Fábrica de Gênios
            </span> 
	<div class="alert alert-danger">
		<strong><h6>O link de redefinição de senha está inválido,<br> possivelmente porque já foi usado.<br>
      	Por favor, solicite uma nova redefinição de senha.</h6></strong>
	</div>
	<div class="text-center p-t-5-8">
		<a class="txt9" href="/accounts/password-reset">
			Solicitar um link de Redefinição!
		</a>
	</div>
                </form>
            </div>
        </div>
    </div>
{% endif %}


    <!--===============================================================================================-->
    <script src="{% static 'js/login/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'js/login/animsition/js/animsition.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'js/login/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'js/login/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'js/login/select2/select2.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'js/login/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'js/login/daterangepicker/daterangepicker.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'js/login/countdowntime/countdowntime.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'js/login/main.js' %}"></script>

</body>

</html>