{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Email de Redefinição</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <!--link rel="icon" type="image/png" href="images/icons/favicon.ico" -->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts/font-awesome-4.7.0/css/font-awesome.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/main.css' %}">
    <!--===============================================================================================-->
</head>

<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
                <form class="login100-form validate-form" action="" method="post">
					<span class="text-center p-t-5">
						<h4><center>Email enviado com sucesso!
						<br>Verifique sua:</center></h4>
						<ul>
							<h5 align='left'>
								<li><br><br>Caixa de entrada</li>
								<li><br>Spam</li>
								<li><br>Lixo Eletrônico</li>
							<h5>
						</ul>
						<h4><br>E siga as instruções!</h4>
					</span>

                    <div class="text-center">
                        <span class="txt1">
							Já é Cadastrado?
						</span>

                        <a href="/accounts/login-usuario" class="txt2 hov1">
							Faça o Login
						</a>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!--===============================================================================================-->
    <script src="{% static 'js/login/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'js/login/animsition/js/animsition.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'js/login/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'js/login/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'js/login/select2/select2.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'js/login/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'js/login/daterangepicker/daterangepicker.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'js/login/countdowntime/countdowntime.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'js/login/main.js' %}"></script>

</body>

</html>