{% extends "core/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block body %}

<div class="ht__bradcaump__area">
    <div class="ht__bradcaump__container">
        <img src="{% static 'images/bg-png/Matrícula-Online.png' %}" alt="bradcaump images">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Pré-Matrícula 2020</h2>
                        <!--nav class="bradcaump-inner">
                          <a class="breadcrumb-item" href="/">Página Inicial</a>
                          <span class="brd-separetor"><img src="{% static 'images/icons/brad.png' %}" alt="separator images"></span>
                          <span class="breadcrumb-item active">Contatos</span>
                        </nav-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form class="form-group" action="" method="post">
    {% csrf_token %}
    <br>
    
    <h2 style="font-family: Arial;" align='center'>DADOS DO RESPONSÁVEL</h2>

    <br>   
    
    <div class="col col-sm-12" align='center'>
        <input class="form-control col-sm-6 col-auto" type="text" name="name" placeholder="Digite seu nome COMPLETO" required>
    </div>

    <br>   
    
    <div class="col col-sm-12" align='center'>
        <input class="form-control col-sm-6 col-auto" type="text" name="cpfCnpj" placeholder="CPF - (SOMENTE NÚMEROS)" required>
    </div>

    <br>   
    
    <div class="col col-sm-12" align='center'>
        <input class="form-control col-sm-6 col-auto" type="email" name="email" placeholder="EMAIL - (VÁLIDO)" >
    </div>

    <br>   
    
    <div class="col col-sm-12" align='center'>
        <input class="form-control col-sm-6 col-auto" type="text" name="mobilePhone" placeholder="NÚMERO DE TELEFONE COM DDD - (VÁLIDO)" >
    </div>

    <br>   
    
    <div class="col col-sm-12" align='center'>
        <input class="form-control col-sm-6 col-auto" type="text" name="postalCode" placeholder="CEP RESIDENCIAL - (VÁLIDO)" >
    </div>

    <br>   
    
    <div class="col col-sm-12" align='center'>
        <input class="form-control col-sm-6 col-auto" type="text" name="addressNumber" placeholder="NÚMERO DA CASA" >
    </div>

    <br>   
    
    <div class="col col-sm-9" style="padding-left: 25.5%;">
        <p>Nome dos Alunos do Responsável </p>
        {{ form.descricao_alunos|add_class:'form-control' }}
    </div>
    
    <br>
    
    <div class='col col-sm-12' align='center'>
        <button type="submit" class='btn btn-primary btn-sm'>
            Confirmar Matrícula 2020.1
        </button>
    </div>
</form>  
<!--


mobilePhone
postalCode
addressNumber
descricao_alunos
-->
{% endblock %}