{% extends "core/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block body %}




<div class="slide__carosel owl-carousel owl-theme">
    <div style="background-image: url({% static 'images1/bg-png/Matrícula-Online.png' %}); background-repeat: no-repeat;background-size: cover;background-position: center center;" class="slider__area  d-flex fullscreen justify-content-start align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="slider__activation">
                        <!-- Start Single Slide -->
                        <!-- End Single Slide -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container" style="padding-top: 50px; border: 10px;">
    {% if message %}
        <div class="alert alert-info" role="alert">
            {% for message in messages %} 
                {{ message }} 
            {% endfor %}
        </div>
    {% else %}
    {% endif %}
    <form class="form-group" action="" method="post">
        {% csrf_token %}
        
        <h2 style="font-family: Arial;" align='center'>DADOS DO RESPONSÁVEL</h2>

        <br>   
        
        <div class="col col-sm-12" align='center'>
            <input class="form-control col-sm-6 col-auto" type="text" name="name" placeholder="Digite seu nome COMPLETO" required>
        </div>

        <br>   
        
        <div class="col col-sm-12" align='center'>
            <input class="form-control col-sm-6 col-auto" type="text" name="cpfCnpj" placeholder="CPF - (SOMENTE NÚMEROS)" required>
        </div>

        <br>   
        
        <div class="col col-sm-12" align='center'>
            <input class="form-control col-sm-6 col-auto" type="email" name="email" placeholder="EMAIL - (VÁLIDO)" >
        </div>

        <br>   
        
        <div class="col col-sm-12" align='center'>
            <input class="form-control col-sm-6 col-auto" type="text" name="mobilePhone" maxlength="11" placeholder="NÚMERO DE TELEFONE COM DDD" >
        </div>

        <br>   
        
        <div class="col col-sm-12" align='center'>
            <input class="form-control col-sm-6 col-auto" type="text" name="postalCode" placeholder="CEP RESIDENCIAL - (VÁLIDO)" >
        </div>

        <br>   
        
        <div class="col col-sm-12" align='center'>
            <input class="form-control col-sm-6 col-auto" type="text" name="addressNumber" placeholder="NÚMERO DA CASA" >
        </div>

        <br>   
        
        <div class="col col-sm-12" align='center'>
            <p>Nome dos Alunos do Responsável </p>
            {{ form.descricao_alunos|add_class:'form-control' }}
        </div>

        <br>
        
        <div class='col col-sm-12' align='center'>
            <button type="submit" class='btn btn-primary btn-sm'>
                Confirmar Matrícula 2020.1
            </button>
        </div>
    </form>

</div>
<!--


mobilePhone
postalCode
addressNumber
descricao_alunos
-->
{% endblock %}